
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1197px) {
    h4.content-encontre-trabajo-caja-info_h4   {
        font-size: 10px;
    }
    .content.a-academicos label {
        font-size: 12px;
    }
    div#rlabora {
        margin-top: 40px;
        font-size: 12px;
    }
    div#rlabora .col textarea {
        flex: 0 0 100%;
    }
    div#labora {
        font-size: 12px;
    }
    div#rlabora {
        font-size: 12px;
    }
    .content-otros {
        font-size: 12px;
    }
    video#productVideo, iframe#iframepdf {
        width: 250px!important;
        height: 185px;
    }
    .a-basicos-postulante-video, .a-basicos-postulante-curriculum.j-center {
        width: 250px;
        height: 185px;
    }
}
/*mi perfil*/
@media (min-width: 576px) and (max-width: 991px) {
    video#productVideo, iframe#iframepdf {
        width: 180px!important;
        height: 180px;
    }
    .a-basicos-postulante-video, .a-basicos-postulante-curriculum.j-center {
        /* width: 250px; */
        height: 180px;
    }
}

@media (min-width: 0px) and (max-width: 575px) {
    .row.media-perfil {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .row.media-perfil .col-md-4 {
        width: 100%;;
    }
    .row.media-perfil .col-md-4 {
        padding-top: 0;}
        img.basicos-postulante-c-4 {
            width: 100%;
            /* height: 180px; */
        }
        video#productVideo, iframe#iframepdf {
            width: 100%;
        }
}
/**/
@media (min-width: 0px) and (max-width: 991px) {
    .d-n-991 {
    display: none;
}
.cont-menu-h-usuario {
    display: contents;
}
.w-100 {
    width: 100%!important;
    max-width: 100%;
    flex: 0 0 100%;
}
.caja-input-buscador-usuario {
    margin-top: 80px;
}
}

@media (min-width: 525px) and (max-width: 991px) {
   
    img.basicos-postulante-c-4 {
        width: 180px;
        height: 180px;
    }
    .content-abasico-basicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .row.r-laboral-form .col {
        max-width: 100%;
        flex: 0 0 100%!important;
    }
    div#labora {
        font-size: 12px;
    }
    .content-otros {
        font-size: 12px;
    }
    div#rlabora .col {
        flex: 0 0 50%;
    }
    .row.a-academicos-form .col {
        flex: 0 0 50%;
    }
    .content-abasico-basicos label {
        font-size: 12px;
    }
    .row.inf-media-perfil-basicos select {
        font-size: 12px;
    
    }
    .row.media-perfil-basicos-publicidad {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .row.media-perfil .col-md-4 {
        padding: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 150px;
        margin: 10px;
        flex: auto;
    }
    /* img.basicos-postulante-c-4 {
        width: 180px;
        height: 180px;
        object-fit: contain;
    } */
    .col-md-4.media-perfil-c-4 input {
        width: 150px;
    }
    .row.media-perfil label {
        margin-top: 10px;
        font-size: 12px;
        width: 150px;
    }
    .row.media-perfil-basicos-publicidad img {
        height: 150px;}
        
}
@media (max-width: 768px) {
    /* video#productVideo, iframe#iframepdf {
        width: 180px!important;
        height: 180px;
    }
    .a-basicos-postulante-video, .a-basicos-postulante-curriculum.j-center {
        height: 180px;
    } */
    .ofertas-respond {
        border: 1px solid #f4f6f7;
        padding: 0;
        margin-left: 5px;
        margin-right: 10px;
    }
    .content-encontre-trabajo-usuario .col-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px;
    }
    button.btn.btn-info.mb-2.mt-2 {
        margin-left: 10px;
    }
    .cont-menu-h-usuario {
        display: contents;
    }
    .caja-input-buscador-usuario {
        margin-top: 80px;
    }
    /* .col-md-8.f-a-c {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-4.col-logo-usuario {
        display: flex;
        justify-content: center;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .dropdown-menu.user-dropdown.menu-d-i.show {
        position: fixed!important;
        top: 0px!important;
        right: 0;
        background: #0075a9!important;
        margin-left: 0!important;
    } */
    .encontre-trabajo-usuario_row-col-12-col-4 {
        height: 50px;
    }
    .encontre-trabajo-usuario_row-col-12-logo-col-4 {
        margin: 0px 60px 0px;
    }
    .postulaciones-col9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .dropdown.d-none-full {
        display: contents;
    }
    .content-abasico-basicos-curriculum textarea {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
    }
    .letra-azul {
        font-size: 25px;
    }
    .container.resumenl_container label {
        padding-left: 15px;
    }
    .container.mt-3.perfil-encontre-trabajo h2 {
        font-size: 25px;
    }
    .container.antecedentes_container label {
        padding-left: 15px;
    }
    .content-abasico-basicos-curriculum {
        margin-left: 15px;
    }
    /* img.basicos-postulante-c-4 {
        width: 180px;
        height: 180px;

    } */
    .row.media-perfil-basicos-publicidad {
        margin-left: 0px;
    }
    
    .content-encontre-trabajo-usuario {
        margin-left: 15px;
    }
   .table-responsive-cv {
        overflow: auto;
        font-size: 10px;
    }
    input.caja-input-buscador-usuario_input {
        width: 255px;
    }
    .col-md-4.col-logo-usuario {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .menu-lateral-usuario {
        height: 100%;
    }
    .caja-verde-usuario {
        width: 29%;
    }
    .contenido-publicitario-empresas {
        display: flex;
        flex-direction: row;
    }
    .col-md-12.opciones-perfil-encontre-trabajo-usuario-info {
        margin-left: 20px;
        margin-right: 20px;
        z-index: 99;
    }
    .d-n-768 {
        display: none;
    }
    .w-100 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    p.opciones-perfil-encontre-trabajo-usuario_li_p {
        width: 270px;
    }
    .opciones-perfil-encontre-trabajo-usuario-publicidad {
        margin-right: 20px;
    }
    .opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-head h4 {
        font-size: 15px;
    }
    p.cajas-contenedoras-perfil_p {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-perfil-inf {
        width: auto;
    }
    h5.cajas-contenedoras-postulaciones_h5 {
        font-size: 1rem;
    }
    h5.cajas-contenedoras-estadisticas_h5 {
        font-size: 1rem;
    }
    .col-md-8.f-a-c {
        width: 0%;
        padding: 0;
    }
    /* .caja-input-buscador-usuario {
        display: none;
    } */
    .caja-ico-mensaje {
        display: none;
    }
    img.encontre-trabajo-usuario_row-img-usuario_img ,.encontre-trabajo-usuario_row-col-12-col-4 h3 {
        /* display: none; */
    }
    .opciones-perfil-encontre-trabajo-usuario-cajapublicitaria {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-perfil {
        margin-bottom: 20px;
    }
  
    .content-inf-user.f-b {
        max-width: 100%;
        padding: 0;
    }
    .content-inf-work {
        width: 100%;
        max-width: 100%;
    }
    .ofertas-respond {
        overflow: auto;
        margin-bottom: 50px;
    }
    .col-md-8.offset-md-2.col-lg-8.offset-lg-2.table-respuestas {
        overflow: auto;
        margin-bottom: 50px;
    }
    .table-mis-app {
        overflow: auto;
        margin-bottom: 50px;
    }
    a.btn.btn-info {
        font-size: 12px;
        padding: 0px 16px;
    }
    div#labora table {
        font-size: 10px;
    }
    div#labora .col {
        flex: 0 0 50%;
    }
    .row.r-laboral-form .col textarea {
        flex: 0 0 100%!important;
    }
    .container.content-table-a-academico {
        font-size: 10px;
        overflow: auto;
        border: 1px solid #d5d9dfa6;

    }
    .container.table-responsive-et {
        border: 1px solid #d5d9dfa6;

    }
    .content.a-academicos .col {
        flex: 0 0 50%;
        justify-content: center;
    }
    .content-work-options {
        margin-top: 40px;
        margin-left: 30px;
        margin-right: -15px;
    }
    .content-content-work-options {
        margin: 0;
    }
    .options-panel-user ul {
        display: flex;
        padding: 0;
        margin-top: 20px;
    }
    .options-panel-user ul li a {
        list-style: none;
        color: #fff;
        padding: 5px 10px;
    }
    .col-md-6.content-logo {
        height: 50vh;
        flex: 0 0 100%;
        max-width: 100%;
    }
   
    img.content-logo-fondo {
        height: 50vh;
    }
    .mask {
        height: 50vh;
    }
    .col.r-col-100 {
    min-width: 50%;
    max-width: 50%!important;
}
    .div_section-content-user.row {
        display: flex;
        flex-direction: column;
    }
    .col-md-3.content-inf-user {
        background-color: #0075a9;
        max-width: 100%;
    }
    .div_section-content-user.row .col-md-9 {
   
        max-width: 100%;
    }
    .options-panel-user {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .blue {
        width: 120px;
    }
    .content-work-options {
        margin-top: 40px;
    }
    .content-work-options {
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 0px;
    }
    .col-md-6.content-tabs-inf {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
    }
    img.content-logo-img-img {
        width: 50%;
    }
    .content-logo-img {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .row.card-content-work {
        margin-right: 0px!important;
    }
    .content.div-content-inf-user {
        position: relative;
        width: 100%;
    }
}
@media (max-width: 575px) {
    .opciones-inf-empresas table {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .content-encontre-trabajo-usuario h3 {
        font-size: 22px;
    }
    input.caja-input-buscador-usuario_input {
        width: 150px;
    }
    .a-academicos-form {
        padding: 20px;
    }
    .sub-localidad {
        font-size: 12px;
    }
    .opciones-inf-empresas-opciones-select {
        display: flex;
        flex-wrap: wrap;
    }
    .opciones-inf-empresas-opciones-select-1, .opciones-inf-empresas-opciones-select-2, .opciones-inf-empresas-opciones-select-3 {
        margin-bottom: 10px!important;
        width: 100%!important;
        display: flex!important;
        justify-content: space-between!important;
    }
    .opciones-inf-empresas-opciones-select-2,.opciones-inf-empresas-opciones-select-1,.opciones-inf-empresas-opciones-select-3 {
        display: flex;
        height: 40px;
        margin-bottom: 8px;
        justify-content: space-between;
    }
    .opciones-inf-empresas-subt-list {
        font-size: 12px;
    }
    .opciones-inf-empresas-subt-list p {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
    }
    .content-barra-menu-perfil-menu ul li a {
        color: #0075a9;
        padding: 5px 15px;
    
    }
    .content-barra-m {
        display: flex;
        justify-content: space-between;
    }
    /* .card-body {
        margin-left: 15px;
    }
    .card {
        margin-left: 15px;
    } */
    ul.pagination {
       
        margin-left: 15px;
    }
    .content-work-options {
        margin-top: 40px;
        margin-left: 35px;
        margin-right: 20px;
    }
    /* .content-barra-m {
        justify-content: center;
    } */
    div#rlabora .col {
        flex: 0 0 100%;
    }
    .row.media-perfil-basicos-publicidad {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .row.inf-perfil .col {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .row.inf-media-perfil-basicos .col {
        padding: 0px 40px 0px 40px;
    }
    /* li.nav-item.tabs-perfil h3 {
        display: none;
    } */
    .col-md-6.content-logo {
        height: 30vh;
    }
    img.content-logo-fondo {
        height: 30vh;
    }
    .mask {
        height: 30vh;
    }
    .col.r-col-100 {
        min-width: 100%;
        max-width: 100%!important;
    }
    img.content-logo-img-img {
        width: 75%;
    }
    .dropdown.d-none-c {
        display: inherit;
    }
    .options-panel-user ul {
        display: none;
    }
    .content-barra-menu-perfil-menu-monitor {
        display: none;
    }
   
    div#labora .col {
        flex: 0 0 100%;
    }
    .content-otros .col {
        flex: 0 0 100%!important;
    }
    ul.nav.nav-tabs {
        margin-left: 10px;
    }
    .opciones-inf-empresas-opciones-select-2, .opciones-inf-empresas-opciones-select-1, .opciones-inf-empresas-opciones-select-3 {
   
        margin-bottom: 10px!important;
    }
    
}
@media (max-width: 320px) {
    
    .opciones-inf-empresas-opciones-select-2, .opciones-inf-empresas-opciones-select-1, .opciones-inf-empresas-opciones-select-3
    {
        font-size: 12px;
    }
    img.ico-tab {
        width: 25px;
    }
    
    .col-md-12.opciones-perfil-encontre-trabajo-usuario-info {
        margin-left: 0px;
        margin-right: 0px;
}
.opciones-inf-empresas h3 {
    font-size: 20px;
}
}