html {
    overflow-x: hidden;
}
a:hover {
    text-decoration: none;
}
[v-cloak] {
    display: none;
}

.round-img{
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}

.loader-cover{
    position: fixed;
    left:0;
    right: 0;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
}

.loader {
    margin-top:45vh;
    margin-left: 45%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

   /*//////////////////////////////////////////////////////////////////
 scroll*/
 
 ::-webkit-scrollbar{
    width: 8px;
    background-color: #ffffff;
}
::-webkit-scrollbar-track{
    border-radius: 30px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color:  #0075a9;
}
/**/
.card:hover {

    /* box-shadow: 2 0 0 0px #141b4d; */
    box-shadow: -4px 7px 17px #cccccc;
    border: 1px solid #0075a90a;
    transition: 0.5s;


}
.card{
    border: 1px solid #0075a90a;
    border-radius: 15px;
    margin: 5px;
}
.content-register {
    overflow: hidden;
}
.col-md-6.content-logo {
    /* background: #0075A9; */
    height: 100vh;
    
}
img.content-logo-img-img {
    width: 100%;
}
.content-logo-img {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 65px;
    z-index: 9999;
    height: 100%;
}
.content-tab-tabs {
    overflow: hidden!important;
    padding: 20px;
}
.nav-tabs .nav-item {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
}
.nav-tabs .nav-link.active {
    color: #ffffff!important;
    background-color: #0075a9!important;
    border-color: #0075a9 #0075a9 #fff!important;
    border-bottom: 1px solid #0075a9!important;
}
.tab-content>.active {
    height: max-content;
    display: flex;
    flex-direction: column;
}
.nav-tabs .nav-link:hover {
    border-color: #0075a9;
    background: #0075a90d;
    transition: 0.5s;
}
.nav-tabs .nav-link {
    border: 1px solid #0075a9;
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    border-top-left-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #0075a9;
    border-color: #0075a9;
    border-radius: 50px;
    width: max-content;
    padding: 10px 25px;    
    justify-content: center;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0075a969;
    border-color: transparent;
    transition: 0.5s;
}

.form-control {
    font-size: 0.7rem!important;
}
.buttom-content {
    display: flex;
    text-align: center;
    justify-content: center;
}
.tab-content p {
    font-size: 12px;
    text-align: center;
}
.content-tabs-tabs {
    margin-top: 20px;
}
.content-register label {
    font-size: 12px!important;
}
.content-register h2{
    margin-top: 10px;
}
img.content-logo-fondo {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}
.mask {
    position: absolute;
    content: "";
    background-color: #0075a9;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: 0.7;
}
.section-logo {
    position: relative;
}
/*USUARIO*/
img.img-user {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;

}
.row.card-content-work {
    margin-top: 40px;
}
.blue {
    width: 70%;
    height: 20px;
    background-color: #fff;
    margin: 20px;

}
.options-panel-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.div-content-inf-user-img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.row.card-content-work .card {
    margin: 15px;
}
.content-content-work-options {
    /* margin: 30px; */
}
.col-md-3.content-inf-user {
    background-color: #0075a9;
}
.buton-content {
    display: flex;
    justify-content: center;
}
.card-title {
    font-weight: 600;
}
.content.div-content-inf-user h3 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.options-panel-user ul li {
    list-style: none;
}
.options-panel-user ul li a {
    list-style: none;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}
.options-panel-user ul li a:hover {
    color: #060606;
    transition: 0.5s;
}
.content-barra-m {
    height: 50px;
    width: 100%;
    background: #9ac8dd5c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.col-md-9.content-inf-work {
    padding: 0;
}
.row.card-content-work {
    /* padding: 10px; */
    padding-right: 15px;
}
.content-content-work-options {
    /* margin: 30px; */
}
.dropdown.p-rigth {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

}
.dropdown-menu.show {
    margin-left: -60px;
}
img.img-user-icon {
    width: 25px;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0075a9!important;
    border-color: #0075a9!important;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #0075a9!important;
    border-color: 1px solid #0075a9!important;
    box-shadow: none!important;
}
.options-panel-user ul {
    padding: 0;
}
.dropdown.d-none-c {
    display: none;
}
img.img-menu {
    width: 20px;
    /* display: flex; */
}
/*PERFIL*/
section.perfil .col-md-12 {
    margin: 0;
    padding: 0;
}
li.nav-item.tabs-perfil {
    width: max-content;
    font-size: 12px;
    flex: auto;
}
.content-barra-menu-perfil-logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.content-barra-menu-perfil {
    background-color: #0075a9;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.content-barra-menu-perfil-menu {
    display: flex;
    align-items: center;
}
img.img-menu-perfil {
    width: 90px;
}
.content-barra-menu-perfil-menu ul {
    display: flex;
    list-style: none;
    margin-bottom: 0!important;
}
.content-barra-menu-perfil-menu ul li a {
    color: #fff;
    padding: 5px 15px;

}
.content-barra-menu-perfil-menu ul li a {
    text-decoration: none;
}
.content-barra-menu-perfil-menu ul li a:hover {
    transition: 0.5s;
    color: #000;
}
.container.mt-3.perfil-encontre-trabajo h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
}
.row.media-perfil-basicos-publicidad img {
    height: 180px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.content-abasico-basicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row.media-perfil-basicos-publicidad {
    flex-direction: column;
    display: flex;
}

.row.media-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}
.button-perfil-basico {
    margin-top: 35px;
}

.buttom-content-add {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.buttom-content-rlaboral {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.buttom-content-up {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.row.media-perfil .col-md-4 {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
img.basicos-postulante-c-4 {
    /* width: 250px;*/
    height: 185px; 
    object-fit: contain;
}
.a-basicos-postulante-video, .a-basicos-postulante-curriculum.j-center {
    /* width: 250px; */
    height: 185px;
}
div#basicos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
.row.inf-media-perfil-basicos select {
    max-width: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #ced4da;
}
.inf-media-perfil-basicos {
    margin: 15px;
}
.a-basicos {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
}
.j-center {
    display: flex;
    justify-content: center;
}
div#academico {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 50px;
    margin-top: 50px;
}
.content.a-academicos {
    width: 100%;
}
textarea {
    resize: none;
  }
  .row.r-laboral-form textarea {
    width: 100%;
}
div#rlabora {
    margin-top: 40px;
}
.content-abasico-basicos .col {
    width: 220px;
}
.inf-perfil {
    margin-bottom: 15px;
    /* margin-right: 10px; */
}
.row.r-laboral-form {
    margin-bottom: 20px;
}
div#labora {
    margin-top: 40px;
}
div#otro {
    margin-top: 40px;
}
li.nav-item.tabs-perfil h3 {
    font-size: 12px;
}
img.ico-tab {
    width: 30px;
    margin-bottom: 10px;
}
a.nav-link.tabs-perfil-a {
    border:none;
    /* border: 1px solid #ced4da2e; */
}
.col-md-4.media-perfil-c-4 input {
    width: 220px;
}
.row.media-perfil label {
    margin-top: 10px;
}
.row.r-laboral-form .col textarea {
    flex: 0 0 100%!important;
}
button.btn.btn-primary.dropdown-toggle.button-user.user-b {
    background: transparent!important;
    border: transparent!important;

    color: #000;
    display: flex;
    align-items: center;
}
button.btn.btn-primary.dropdown-toggle.button-user.user-b:focus {
    background: transparent!important;
    border: transparent!important;
}
button.btn.btn-primary.dropdown-toggle.button-user.user-b:hover {
    background: transparent!important;
    border: transparent!important;
}
.search-content {
    width: 250px;
    padding-left: 30px;
}
img.img-barra-search {
    width: 30px;
    padding-left: 10px;
}
.col-md-3.content-inf-user {
    /* height: 100vh; */
    padding: 0;}

    
.content.div-content-inf-user {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    align-content: center;
    background-color: #0075a9;
    width: 16.666667%;
    z-index: 999;
}
.col-md-10.content-inf-work {
    padding: 0;
}
    .col-md-3.content-inf-user.f-b {
        display: flex;
        justify-content: center;
        max-height: 100vh;
        background-color: #0075a9!important;
        overflow: hidden;
    }
    form.form-inline.form-search-content {
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row;
        -ms-flex-align: center;
        align-items: center;
    }
    form.form-inline.form-search-content input.form-control.form-control-sm {
        border-radius: 15px;
        height: 30px;
    }
    input.form-control.form-control-sm {
        border-radius: 15px;
    }
    .swal-button {
        background-color: #0075a9!important;}
/**/
.content-content-work-options {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
ul.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.content.div-content-inf-user h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.options-panel-user li {
    margin-bottom: 5px;
}
p.text-center {
    margin-top: 20px;
}

.content-perfil-empresa h4 {
    text-transform: capitalize;
}
button.btn.btn-success {
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: capitalize;
}
li.page-item a {
    border-radius: 50px!important;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0075a9;
    border: 1px solid #0075a9;
}
li.page-item a:hover {
    background: #0075a9;
    color: #fff;
    transition: 0.5s;
}
p.text-center.price-op {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    color: #0075a9;
    font-weight: bolder;
}
p.text-center.text-b {
    text-transform: inherit;
    text-transform: uppercase;
}
input#video {
    border: none;
}
input#image {
    border: none;
}
input#curriculum {
    border: none;
}
button.btn.btn-info {
    background: #0075a9;
    border: 1px solid;
}
button.btn.btn-success {
    background: #0075a9;
    border: 1px;
}
a.btn.btn-info {
    margin-bottom: 2px;
    font-size: 12px;
    background: #0075a9;
    border: 1px;
    border-radius: 50px;
    padding: 10px 15px;
}
/* div#proposals-dev {
    padding: 10px 30px 0px 30px;
} */
tbody {
    text-transform: capitalize;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e652;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e652;
}
.row.perfil-empresa-form {
    margin-top: 20px;
}
.content-content-work-options h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    /* font-weight: bold; */
}
.row.perfil-empresa-form h4 {
    color: #0075a9;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;

}
.content-perfil-empresa h4 {
    font-size: 20px;
}
.row.perfil-empresa-form a {
    color: #26988a;
    text-transform: uppercase;
    font-weight: bold;
}
/*descripcion para postularme*/
.content-content-work-options p {
    text-align: center;
}
p.text-center.price-op {
    color: #26988a;

}
span.price-rango {
    text-align: end;
    font-size: 15px;
    color: #26988a;
    font-weight: bold;
}
textarea.form-control {
    border-radius: 12px;
}
p.text-center.price-ofertas {
    display: flex;
    justify-content: flex-end;
    color: #26988a;
    margin-bottom: 25px;
    font-weight: bold;
}
a.btn.btn-info {
    text-transform: capitalize;
    color: #fff;
}
.content-perfil-empresa small {
    color: #26988a;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    font-weight: bold;
}
.content-perfil-empresa {
    margin-left: 15px;
    margin-right: 15px;
}
h4.text-center.price-plan {
    font-weight: bold;
    margin-bottom: 25px;
   
}
.box-card {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.box-card h3 {
    font-weight: bold;
}
.card-body strong {
    color: #3e4345;
}
/* .content-content-work-options p {
    text-align: center;
} */
h3.text-center {
    margin-top: 20px;
}
h3.title-plan {
    background: #0075a9;
    margin-top: 20px;
    color: #fff;
}

.container.table-responsive-et {
    overflow: auto;
    margin-bottom: 35px;
}
img.ico-tab {
    background: white;
    border-radius: 50px;
}
/**/
ul {
    list-style: none;
}
.dropdown-item {
    padding: 6px;
}
.dropdown-menu.user-dropdown.show ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content-barra-menu-perfil-menu ul li {
    margin-bottom: 5px;
}
/*modal*/
img.img-cperfil {
    width: 200px;
}
.content-img-cperfil {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button.btn.btn-secondary.btn-cerrar {
    border-radius: 35px;
    background: #fff;
    color: #6c757d;
    border: none;
    padding: 10px 20px;
    text-transform: capitalize;
}
.col-12.recor-a-cp {
    display: flex;
    justify-content: center;
}
p.rec-cperfil {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 5px;
}
img.img-cperfil-alert {
    width: 30px;
    height: 30px;
    padding: 5px;
}
.modal-cperfil-cont {
    height: 100%;
    display: flex;
    align-items: center;
}
.modal-body.body-cperfil-modal {
    padding: 30px;
}
.modal-cperfil-cont .modal-header {
    border-bottom: 1px solid #fff!important;
}
/*chat*/
.card.card-left-p {
    background: #fff;
    box-shadow: 7px 0px 12px #cccccc2e;
}
.card.card-left-p:hover {
    background: #fff;
    box-shadow: 7px 0px 12px #cccccc2e;
}
.card.card-right-p {
    color: #fff;
    background: #0075a9;
    box-shadow: -4px 7px 17px #cccccc2e;
    float: inherit;
    display: flex;
}
.card.card-right-p:hover {
    color: #fff;
    background: #0075a9;
    box-shadow: -4px 7px 17px #cccccc2e;
    float: inherit;
    display: flex;
}
.chat-cont-et {
    border: 1px solid #ced4da4a;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
}
/*card inicio*/
.content-content-work-options .card {
    border: 1px solid #daebf3;
    border-radius: 15px;
    margin: 5px;
}
h5.card-title.text-center.t-upper {
    text-transform: uppercase;
}
.content-barra-m button.btn.btn-success {
    background: #daebf3;
}
.content-barra-m button.btn.btn-success:active {
    background: #daebf3;
}
button.btn.btn-success.btn-azul-c:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
button:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.content-perfil-empresa {
    padding: 20px;
    border-radius: 5px;
    background: #daebf3;
    margin-bottom: 40px;
    box-shadow: 7px 0px 12px #cccccc2e;
}
.t-upper {
    text-transform: uppercase;
}
a.btn.btn-info.inf-perfil-btn {
    font-size: 13px;
}
div#user-search-dev strong {
    color: #0075a9;
}
/*Usuario encontre trabajo*/
li.menu-lateral-usuario_ul_li p:hover {
    color: #000;
    transition: 0.5s;
}
.encontre-trabajo-usuario_row-col-12 {
    background: #0075a9;
    padding: 0;
    margin: 0;
    height: 90px;
    position: fixed;
    z-index: 999;
    margin-left: 15px;
}

img.encontre-trabajo-usuario_row-col-12-logo-img {
    width: 120px;
}
.encontre-trabajo-usuario_row-col-12-logo-col-4 {
    margin: 20px 60px;
}
img.caja-input-buscador-usuario-lupa_img {
    width: 20px;
}
img.encontre-trabajo-usuario_row-img-usuario_img {
    max-width: 65px;
    height: 65px;
    border-radius: 50px;
    object-fit: cover;
}
.encontre-trabajo-usuario_row-col-12-col-4 {
    display: flex;
    max-height: max-content;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    background: #0075a9;

}
input.caja-input-buscador-usuario_input {
    width: 300px;
}
button.caja-input-buscador-usuario_button {
    background: #188a75;
    position: relative;
    border: 2px solid #188a75;
    right: 2px;
}
.encontre-trabajo-usuario_row-col-12-col-4 h3 {
    color: #ffff;
    font-size: 20px;
}
.cont-menu-h-usuario {
    display: flex;
    align-items: center;
}
.caja-ico-mensaje {
    position: relative;
}
span.caja-ico-mensaje_span {
    background: #188a75;
    color: #fff;
    width: 20px;
    padding: 5px;
    height: 20px;
    border-radius: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: 5px; */
    bottom: -5px;
    position: absolute;
    right: -15px;
}
img.content-encontre-trabajo-caja-info_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    border: 4px solid #188a75;

}
.content-encontre-trabajo-caja-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding: 0 10px;
    word-break: break-all!important;
    word-wrap: break-word!important;

}
.menu-lateral-usuario {
    height: 100%;
    background: #0075a9;
    position: fixed;
    padding-top: 90px;
    padding-left: 0!important;
    display: flex;
    word-wrap: break-word!important;
    align-items: center;
    flex-direction: column;
    
    width: 16.666667%;
    word-break: break-all!important;
    word-wrap: break-word!important;
}
h3.content-encontre-trabajo-caja-info_h3 {
    color: #fff;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
}
h4.content-encontre-trabajo-caja-info_h4 {
    color: #ffff;
    font-size: 15px;
    padding: 5px;
}
.content-encontre-trabajo-usuario .col-md-3 {
    background: #0075a9;
    display: flex;
    /* margin-left: -20px; */
    justify-content: center;
}
.content-encontre-trabajo-caja-info-img-porc {
    display: flex;
    flex-direction: column;
    position: relative;
}
span.content-encontre-trabajo-caja-info-img-porc_span p {
    color: #fff;
    font-size: 8px;
    background: #188a75;
    height: 25px;
    width: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

span.content-encontre-trabajo-caja-info-img-porc_span {
    position: absolute;
 
    right: 0;

}
.opciones-perfil-encontre-trabajo-usuario {
    margin-top: 90px;
}
img.menu-lateral-usuario_ul_li_img {
    width: 15px;
    padding-right: 5px;
}
li.menu-lateral-usuario_ul_li a {
    display: flex;
    align-items: center;
    color: #fff;
}
li.menu-lateral-usuario_ul_li p {
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 5px 5px 0px 5px;
}
ul.menu-lateral-usuario_ul {
    padding: 0 5px 0 10px;
}
img.opciones-perfil-encontre-trabajo-usuario-publicidad_img {
    width: 150px;
    height: 250px;
    object-fit: cover;
    /* margin-top: 80%; */
    /* padding: 150px; */
}
/* .opciones-perfil-encontre-trabajo-usuario-publicidad {
    margin-top: 180px;
    display: flex;
    justify-content: flex-end;
}
.col-md-8.opciones-perfil-encontre-trabajo-usuario-info {
    margin-top: 180px;
} */
.porcentaje-perfil-encontre-trabajo-usuario {
    border: 5px solid #188a75;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #188a75;
    font-weight: bold;
}
.col-md-12.opciones-perfil-encontre-trabajo-usuario-info {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.opciones-perfil-encontre-trabajo-usuario_li_img {
    width: 20px;
    margin-right: 12px;
}

p.opciones-perfil-encontre-trabajo-usuario_li_p {
    margin: 0;
    color: #188a75;
    width: 400px;
    text-align: center;
}
ul.opciones-perfil-encontre-trabajo-usuario_ul {
    padding: 0;
    margin-top: 30px;
}
li.opciones-perfil-encontre-trabajo-usuario_li {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #edf3f2;
    margin-bottom: 10px;
}
/* .caja-verde-usuario {
    position: fixed;
    bottom: 0;
    width: 17%;
    height: 38px;
    background: #188a75;
} */
.opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-perfil {
    height: 280px;
    border: 1px solid #1010102b;
    border-radius: 10px 10px 0px 0px;
    /* padding: 20px; */
}
.opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-head img {
    width: 20px;
}
.opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-head {
    color: #fff;
    background: #188a75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;

}
.cajas-contenedoras-perfil_h5:before {
    content: "°";
    color: #188a75;
    /* font-size: 20px; */
}
.opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras-perfil-inf {
    padding: 25px 35px;
    width: 300px;
}
p.cajas-contenedoras-perfil_p {
    font-size: 20px;
    margin-bottom: 5px;

}
h5.cajas-contenedoras-perfil_h5 {
    font-size: 15px;
    margin: 0;
}
h5.cajas-contenedoras-estadisticas_h5 {
    margin: 0;
    font-size: 15px;

}
h5.cajas-contenedoras-postulaciones_h5 {
    font-size: 15px;
}
.opciones-perfil-encontre-trabajo-usuario-cajapublicitaria {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}
li.opciones-perfil-encontre-trabajo-usuario_li.bb-n {
    border-bottom: none;
}
.opciones-perfil-encontre-trabajo-usuario-ul {
    padding-bottom: 50px;
}
.opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras {
    margin-bottom: 20px;
}
.opciones-perfil-encontre-trabajo-usuario-cajas-contenedoras .container {
    display: flex;
    justify-content: space-evenly;
}
.menu-lateral-usuario-resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
li.menu-lateral-usuario_ul_li.menu-resp-li {
    font-size: 15px;
    height: 2em;
}
/* .buscador-barra-lateral-empresa.m-bottom {
    width: 200px;
} */
/* .check-barra-lateral-empresa.m-bottom {
    width: 250px;
} */
.opciones-menu-resp-empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*empresa*/
.caja-menu-resp-empresa {
    width: 250px;
}
.menu-lateral-empresa {
    height: 100vh;
    /* background: #e9e9e9; */
    background: #0075a9;
    position: fixed;
    width: 17%;
    padding: 90px 10px 20px 10px;
    overflow: auto;
}
h3.content-encontre-trabajo-caja-info_h3.empresa_h3 {
    /* color: #0075a9; */
    color: #fff;
    padding-top: 5px;
    margin-bottom: 0;
}
label.check-empresa-encontre-trabajo {
    margin-bottom: 4px;
}
/* .row {
    width: 100%;
    max-width: 100%;
    margin: 0;
} */
h4.content-encontre-trabajo-caja-info_h4.empresa_h4 {
    /* color: #0075a9; */
    color: #fff;
}

.custom-card-active{
    background-color: #4FC1E9;
}

/**/
.opciones-inf-empresas {
    /* display: flex; */
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.opciones-inf-empresas-opciones-select {
    display: flex;
    flex-wrap: wrap;
    background: #eef6f9;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.opciones-inf-empresas-opciones-select-2, .opciones-inf-empresas-opciones-select-1, .opciones-inf-empresas-opciones-select-3 {
    display: flex;
    height: 40px;

}
.opciones-inf-empresas-opciones-select-2 p,.opciones-inf-empresas-opciones-select-3 p {
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.opciones-inf-empresas-subt {
    display: flex;
    justify-content: space-between;
}
.opciones-inf-empresas-subt-list {
    display: flex;
}
.opciones-inf-empresas-subt-list p {
    padding-right: 20px;
    padding-left: 20px;
}
.informacion-empresa-encontre-trabajo {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 10px;
}

img.buscador-barra-lateral-empresa-head_img {
    width: 12px;
}
.buscador-barra-lateral-empresa-head {
    display: flex;
    align-items: center;
    background: #188a75;
    color: #fff;
    padding: 5px;
}
.buscador-barra-lateral-empresa-head p {
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
}
input.buscador-barra-lateral-empresa-head-bucador_input {
    width: 65%;
    font-size: 12px;
    border: 2px solid #188a75;
    border-radius: 5px;
    background: #f5f0f0;
    height: 30px;
}
img.buscador-barra-lateral-empresa-head-bucador_button_img {
    width: 20px;
}
button.buscador-barra-lateral-empresa-head-bucador_button {
    background: #188a75;
    border: 0px solid #188a75;
}
.buscador-barra-lateral-empresa {
    border: 1px solid #c7bbbb;
}
.buscador-barra-lateral-empresa-head-bucador {
    /* display: flex; */
    text-align: center;
    padding: 10px;
}
img.check-barra-lateral-empresa-head_img {
    width: 12px;
}
.check-barra-lateral-empresa-head {
    display: flex;
    align-items: center;
}
.check-barra-lateral-empresa-head p {
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
    color: #fff;
}
.check-barra-lateral-empresa-head {
    display: flex;
    align-items: center;
    background: #188a75;
    color: #fff;
    padding: 5px;
}
.check-barra-lateral-empresa {
    border: 1px solid #c7bbbb;
}
label.check-empresa-encontre-trabajo {
    font-size: 10px;
    line-height: 8px;
}
.m-bottom {
    margin-bottom: 5px;
}
input.check-empresa-encontre-trabajo_input {
    margin-right: 5px;
}
img.caja-mis-avisos_img {
    width: 20px;
 }
 .caja-mis-avisos-col-2 {
     display: flex;
     justify-content: flex-end;
 }
 .caja-mis-avisos {
    border: 1px solid #e9e9e9;
    padding: 22px;
}
.contenido-publicitario-empresas_img {
    width: 150px;
    height: 250px;
    padding: 5px;
    object-fit: cover;
}
.contenido-publicitario-empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}
.col-md-8.f-a-c {
    width: 100%;
    padding: 0;
}
.alert-dismissible .close {
    z-index: 9;
}
.alert-dismissible {
    padding-right: 12px;
}
.alert-dismissible .close {
    z-index: 9;
    position: absolute;
    top: 4px;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
.opciones-inf-empresas p span {
    padding-right: 5px;
    padding-left: 5px;
}
/*cambios en curriculum*/
.container-perfil-usuario {
    margin-top: 30px;
}
.text-center-input-curriculum {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-weight: bold;
}
.pb-20 {
    padding-bottom: 15px;
}
.tabla-curriculum {
    padding-left: 15px;
    padding-right: 15px;
}
.letra-azul {
    color: #0075a9;
    font-weight: bold;
}
.a-basicos-postulante-img.j-center,.a-basicos-postulante-video.j-center, .a-basicos-postulante-curriculum.j-center {

    border: 1px solid #e9ecef30;
    border-radius: 5px;
    background: #e9ecef1c;
    padding: 0;
}
.resultados-busqueda {
    margin-top: 40px;
}
/* .dropdown.d-none-full {
    display: none;
} */

.cont-menu-h-usuario {
    display: none;
}
.col-md-4.col-logo-usuario {
    height: 90px;
    display: flex;
    align-items: center;
}
.caja-input-buscador-usuario_input {
    padding: 5px;
}

.cont-label-rl {
    display: flex;
    align-items: baseline;
}